In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

In [22]:
def suma_l(x):
    return x

In [21]:
lst = [1,2,3,4,5,6]

In [18]:
lst2 = [[1,2],[2,3]]

In [25]:
t = list(map(suma_l, lst2))

In [33]:
t = list(map(lambda x: x+2, lst))

In [34]:
t

[3, 4, 5, 6, 7, 8]

In [35]:
lambda x: x+2 for i in lst

SyntaxError: invalid syntax (<ipython-input-35-5ab47423a93a>, line 1)

In [36]:
ls

 El volumen de la unidad C es OS
 El número de serie del volumen es: 44D8-86CA

 Directorio de C:\Users\KNEAR\Downloads\datos_municipales_mx-master\datos_municipales_mx-master\datos

12/01/2020  09:19 p. m.    <DIR>          .
12/01/2020  09:19 p. m.    <DIR>          ..
12/01/2020  06:21 p. m.    <DIR>          .ipynb_checkpoints
01/01/2020  06:49 p. m.        44,086,272 CPdescarga.xls
12/01/2020  06:15 p. m.            17,234 cube.png
12/01/2020  03:19 p. m.             4,594 hello_world.xlsx
12/01/2020  06:20 p. m.            30,277 hello_world_logo.xlsx
01/01/2020  06:49 p. m.         2,451,451 Indicadores_municipales_sabana_DA.csv
03/04/2019  09:50 a. m.            24,790 lg.jpg
12/01/2020  06:05 p. m.            26,940 logo.png
01/01/2020  06:49 p. m.         8,606,126 mx_postal_codes.csv
12/01/2020  05:44 p. m.            50,459 reviews-sample.xlsx
12/01/2020  06:06 p. m.            41,903 sample_styles.xlsx
01/01/2020  06:49 p. m.           476,945 siha_2_2_4_1_agosto_2016.xlsx
01/01/2020  06:49 p. m.           180,321 siha_2_2_4_2.xlsx
01/01/2020  06:49 p. m.           288,473 siha_2_2_4_3.xlsx
01/01/2020  06:49 p. m.           541,950 siha_2_2_4_4.xlsx
01/01/2020  06:49 p. m.           194,252 siha_2_2_4_5.xlsx
01/01/2020  06:49 p. m.           174,997 siha_2_2_4_6.xlsx
01/01/2020  06:49 p. m.           888,823 siha_2_2_4_8.xlsx
01/01/2020  06:49 p. m.           152,027 siha_2_2_4_9_dic_2015.xlsx
01/01/2020  06:49 p. m.         1,846,033 siha_2_2_5.xlsx
12/01/2020  06:21 p. m.            24,987 Untitled.ipynb
12/01/2020  09:19 p. m.             3,560 Untitled1.ipynb
              21 archivos     60,112,414 bytes
               3 dirs  870,170,583,040 bytes libres

In [40]:
from openpyxl import load_workbook
workbook = load_workbook(filename="reviews-sample.xlsx")

In [44]:
sheet = workbook['amazon_reviews_us_Watches_v (2)']

In [45]:
sheet

In [46]:
workbook.create_sheet('test')

In [47]:
workbook.sheetnames

['amazon_reviews_us_Watches_v (2)', 'amazon', 'test']

In [48]:
workbook.save(filename="reviews-sample.xlsx")

In [49]:
sheet.dimensions

'A1:O100'

In [89]:
df = pd.DataFrame(sheet.values)

In [90]:
df.head(1)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,marketplace,customer_id,review_id,product_id,product_parent,product_title,product_category,star_rating,helpful_votes,total_votes,vine,verified_purchase,review_headline,review_body,review_date

In [91]:
df.columns = df.iloc[0] # Set first row as column names
df.drop(df.index[0], inplace=True) # Drop the first row
df.reset_index(drop=True, inplace=True) # Reset index to cero

In [93]:
sheet2 = workbook['test']

In [94]:
from openpyxl.utils.dataframe import dataframe_to_rows
rows = dataframe_to_rows(df)

for r_idx, row in enumerate(rows, 1):
    for c_idx, value in enumerate(row, 1):
         sheet2.cell(row=r_idx, column=c_idx, value=value)

In [95]:
workbook.save(filename="reviews-sample.xlsx")

In [100]:
df.columns

Index(['marketplace', 'customer_id', 'review_id', 'product_id',
       'product_parent', 'product_title', 'product_category', 'star_rating',
       'helpful_votes', 'total_votes', 'vine', 'verified_purchase',
       'review_headline', 'review_body', 'review_date'],
      dtype='object', name=0)

In [125]:
############################################################3

In [101]:
from openpyxl import load_workbook
wb = load_workbook(filename="siha_2_2_4_2.xlsx")

In [102]:
wb.sheetnames

['2012']

In [103]:
sh = wb['2012']

In [105]:
sh.dimensions

'A2:I2466'

In [ ]:
a4, i4
a2461 i2461

In [118]:
ls_df = []
for row in sh.iter_rows(min_row=4,
                            max_row=2461,
                            min_col=1,
                            max_col=7,
                          values_only=True):
    
    ls_df.append(row)

In [120]:
# https://www.geeksforgeeks.org/creating-a-pandas-dataframe-using-list-of-tuples/

In [121]:
df2 = pd.DataFrame.from_records(ls_df, columns =['Clave',
  'Estado',
  'Municipio',
  'Planteles',
  'Aulas',
  'Bibliotecas',
  'Laboratorios'])

In [123]:
df2.drop(df2.index[0], inplace=True)

In [124]:
df2

,Clave,Estado,Municipio,Planteles,Aulas,Bibliotecas,Laboratorios
1,01001,Aguascalientes,Aguascalientes,635,6019,208,347
2,01002,Aguascalientes,Asientos,111,501,10,33
3,01003,Aguascalientes,Calvillo,82,513,13,36
4,01004,Aguascalientes,Cosío,28,167,5,12
5,01005,Aguascalientes,Jesús María,104,656,22,22
...,...,...,...,...,...,...,...
2453,32054,Zacatecas,Villa Hidalgo,90,327,10,5
2454,32055,Zacatecas,Villanueva,151,631,16,11
2455,32056,Zacatecas,Zacatecas,227,1867,91,168
2456,32057,Zacatecas,Trancoso,37,202,6,2
2457,32058,Zacatecas,Santa María de la Paz,22,52,0,2

In [126]:
wb.create_sheet('test2')

In [127]:
sh2 =wb['test2']

In [129]:
from openpyxl.utils.dataframe import dataframe_to_rows
rows2 = dataframe_to_rows(df2)

for r_idx, row in enumerate(rows2, 1):
    for c_idx, value in enumerate(row, 1):
         sh2.cell(row=r_idx, column=c_idx, value=value)

In [130]:
wb.save('siha_2_2_4_2.xlsx')

In [131]:
def myfunc(n):
  return lambda a : a * n

mydoubler = myfunc(2)
mytripler = myfunc(3)

print(mydoubler(11))
print(mytripler(11))

22
33

In [140]:
my_list = [1, 5, 4, 6, 8, 11, 3, 12]

new_list = list(filter(lambda x: (x%2 == 0) , my_list)) # filtra los valores que son even numbers de la lista ingresada con una condicion
new_list2 = list(map(lambda x: x+2 , my_list)) # mapea cada valor de la lista para regresar un valor booleano o bien en este caso hacer una operación
# Output: [4, 6, 8, 12]
print(new_list)
print(new_list2)

[4, 6, 8, 12]
[3, 7, 6, 8, 10, 13, 5, 14]